<h1>My Closet</h1>
<%= link_to "See My Outfits", outfits_path %><br>
<br><%= link_to "Add Item to My Closet", new_item_path %>
<ul>
<% @items.each do |item| %>
  <li>
    Category: <%= item.category %>
  </li>
  <li>
    Color: <%= item.color  %>
  </li>
  <li>
    Fabric: <%= item.fabric %>
  <li>
    <% if item.brand %>
      Brand: <%= item.brand.name %>
  </li><br>
    <%end %>
  <%end %>
</ul>
