<h1> Add an item </h1>
<%= form_for @item do |f| %>
<%= f.label "Category" %>
  <%= f.text_field :category %>
  <br>
  <%= f.label "Fabric" %>

  <%= f.text_field :fabric %>
  <br>
  <%= f.label "Color" %>

    <%= f.text_field :color %>
    <br>
    <%= f.label "Brand" %>

    <%= f.collection_select :brand_id, Brand.all, :id, :name %>
  <br>

    <%= f.submit %>
    <% end %>
