<h1>My Outfits</h1>

<ul>
<% @outfits.each do |outfit| %>
  <h3>
    <%= outfit.name %> | <%= outfit.season %> | Formality Level: <%= outfit.formality_level %>
  </h3>

<p>Items in this Outfit:</p>

  <ul><% outfit.items.each do |item| %>
    <li>
      Category: <%= item.category %>
    </li>
    <li>
      Color: <%= item.color  %>
    </li>
    <li>
      Fabric: <%= item.fabric %>
    </li>
    <% if item.brand %>
    <li>

      Brand: <%= item.brand.name %>
    </li>
      <% end %>
      <br>

    <%end %></ul>

  </li>
  <%end %>
</ul>


<%= link_to "Make a new outfit", new_outfit_path %>
