
<h1> Create an Outfit </h1>
<%= form_for @outfit do |f| %>
<%= f.label "Name this Outfit:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Season" %>

  <%= f.select :season, options_for_select([["Summer", "summer"], ["Fall", "fall"], ["Winter", "winter"], ["Spring", "spring"]]) %>
<br>
  <%= f.label "formality Level (1-9)" %>

    <%= f.text_field :formality_level %>
    <br>
    <%= f.label :items %>
    <%= f.collection_check_boxes(:item_ids, Item.all, :id, :description) %>
  <br>
<%= f.collection_check_boxes :item_ids, Item.all, :id, :category do |b|
b.label(class: "my-#{ b.object.class.name.parameterize }", 'data-value': b.value) { b.check_box + b.text }

   end%>
   <br>
     <%= f.submit 'CREATE OUTFIT', :class => 'button button5'%>
    <% end %>
